/* Ini adalah file main.scss yang akan menjadi tempat menulis styling */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

$dark-color: #111;
$light-color: #eee;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    background-color: #ffffff;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
  }
  /* 1. even(klik) ketika change mode 
      2. ada slide
      3. jika light mode maka bgimage putih
      4. jika dark  mode bg image hitam
      */
      /* 1. prev button jika even klik jawaban tersimpan 
          2. jika soal pertama hanya tombol next
          3. jika soal kedua - kesepuluh ada tombol prev
          4. jika soal ke sepuluh tidak ada tombol next
          5. jika soal ke sepuluh yang ada tombol finish*/
  
  .quiz-container{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
    width: 600px;
    overflow: hidden;
  }
  .quiz-header{
    padding: 4rem;
  }
  h2{
    padding: 1rem;
    text-align: center;
    margin: 0;
  }
  
  ul{
    list-style-type: none;
    padding: 0;
  }
  ul li{
    font-size: 1.2rem;
    margin: 1rem 0;
  }
  ul li label{
    cursor: pointer;
  }
  button{
    background-color: #03cae4;
    color: #fff;
    border: none;
    display: block;
    width: 80%;
    cursor: pointer;
    font-size: 1.1rem;
    font-family: inherit;
    padding: 1.3rem;
  }
  button:hover{
    background-color: #04adc4;
  }
  button:focus{
    outline: none;
    background-color: #44b927;
  }
  
  
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
  
  :root {
    --backgroundColor: #eee;
    --navBackgroundColor: #111;
    --navTextColor: #eee;
    --textColor: #111;
  }
  
  * {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    background-color: var(--backgroundColor);
  }
  
  
  
  h1, p {
    color: var(--textColor);
  }
  
  nav {
    background-color: var(--navBackgroundColor);
    color: var(--navTextColor);
  }
  
  main, nav {
    padding: 20px 40px;
  }
  
  nav > ul {
    display: flex;
  }
  
  nav > ul > li {
    margin: 0;
    margin-right: 20px;
  }
  
  .right {
    margin-left: auto;
    margin-right: 0px;
  }
  
  #checkbox_block {
    --checkbox-width: 150px;
    --checkbox-height: 60px;
    --checkbox-inset: 12px;
    width: var(--checkbox-width);
    height: var(--checkbox-height);
    position: relative;
  }
  
  input[name=customSwitch] {
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }
  
  #checkbox__object {
    --box-shadow: inset 0px 4px 12px 0px rgb(0 0 0 / 27%);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    pointer-events: none;
    background-color: var(--bg-color);
    border-radius: var(--checkbox-height);
    -webkit-box-shadow: var(--box-shadow); 
    box-shadow: var(--box-shadow);
    overflow: auto;
  }
  
  #checkbox__bar {
    --box-shadow: inset 4px 5px 18px 2px rgb(0 0 0 / 50%);
    position: absolute;
    top: var(--checkbox-inset);
    bottom: var(--checkbox-inset);
    left: var(--checkbox-inset);
    right: var(--checkbox-inset);
    background: #65be68;
    background: linear-gradient(90deg,#65be68 50%, #eee 50%);
    border-radius: calc(var(--checkbox-height) - var(--checkbox-inset));
    -webkit-box-shadow: var(--box-shadow); 
    box-shadow: var(--box-shadow);
    transform: rotateY(-15deg);
    transition: transform 0.6s cubic-bezier(1,.01,.71,.54);
  }
  
  #checkbox__cursor {
    position: absolute;
    top: var(--checkbox-inset);
    bottom: var(--checkbox-inset);
    left: var(--checkbox-inset);
    width: 50%;
    background-color: #26282d;
    border-radius: calc(var(--checkbox-height) - var(--checkbox-inset));
    transform: scaleY(1.2) scaleX(1.05);
    transition: transform 0.6s cubic-bezier(1,.01,.71,.54);
  }
  
  #checkbox__cursor::after, #checkbox__cursor::before {
    content: "";
    position: absolute;
    width: calc(var(--checkbox-height) - 29px);
    height: calc(var(--checkbox-height) - 24px);
    border-radius: 50%;
    transform: scaleY(0.8) scaleX(0.95);
    background-color: #26282d;
    --box-shadow: inset 4px 5px 8px 3px rgb(0 0 0 / 26%);
    -webkit-box-shadow: var(--box-shadow); 
    box-shadow: var(--box-shadow);
  }
  
  #checkbox__cursor::after {
    right: 6px;
  }
  
  #checkbox__cursor::before {
    left: 6px;
  }
  
  input[name=customSwitch]:checked ~ #checkbox__object > #checkbox__cursor {
    transform: translateX(50px) scaleY(1.2) scaleX(1.05);
  }
  
  input[name=customSwitch]:checked ~ #checkbox__object > #checkbox__bar {
    transform: rotateY(15deg);
  }
  
  .mode__container {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 99999999;
  }
  
  .mode__container > #checkbox_block {
    transform: scale(.5) ;
  }
  
  .toggleModeCover {
    background-color: rgb(0, 0, 0);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    transition: transform .5s;
    transform: translateX(0);
  }
  
  .toggleModeCover.hiddenLeft {
    transform: translateX(-100vw);
  }
  
  .toggleModeCover.hiddenRight {
    transform: translateX(100vw);
  }

  .modal {
    display: none;
  }

  body.dark {
    background-color: #292c35;
  }
  .checkbox {
    opacity: 0;
    position: absolute;
  }
  
  .label {
    width: 50px;
    height: 26px;
    background-color:#111;
    display: flex;
    border-radius:50px;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    transform: scale(1.5);
  }
  
  .ball {
    width: 20px;
    height: 20px;
    background-color: white;
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
  }
  
  /*  target the elemenent after the label*/
  .checkbox:checked + .label .ball{
    transform: translateX(24px);
  }
  
  .fa-moon {
    color: pink;
  }
  
  .fa-sun {
    color: yellow;
  }
  body.dark-mode {
    background-color: $dark-color;
    color: $light-color;
    a {
      color: $dark-color;
    }
    button {
      background-color: $light-color;
      color: $dark-color;
    }
  }
  
  body.light-mode {

    background-color: $light-color;
    color: $dark-color;
    a {
      color: $dark-color;
    }
    button {
      background-color: $dark-color;
      color: $light-color;
    }
  }

