<!-- Ini adalah HTML untuk halaman index.html -->
<!-- Sisipkan HTML bagian header di sini, dan juga file CSS yang dibutuhkan -->
@@include('../shared/header.html', {
  "style": [
    "assets/css/main.css"
  ]
})
<!-- bagian header selesai -->

<!-- Tulis semua coding kalian mulai dari sini -->

<main>
  <section id="homepage">
      <h2>Quiz A3</h2>
      <h3>Selamat mencoba</h3>
      <div>
        <label>Nama :</label>
        <input type="text" placeholder="nama" id="text">
      </div>
      <p id="parag"></p>
      <button id="mulai">Mulai</button>
  </section>

  <section id="quizpage" style="display: none">
  </section>

  <section id="finalpage" style="display: none">
  </section>








  <div class="main">
    <header class="">
      <div class="other-controls">
        <button class="toggle"><ion-icon class="hamburger" name="menu"></ion-icon></button>
      </div>

</main>


<!-- Penulisan coding selesai di sini -->


<!-- Sisipkan HTML bagian footer di sini, dan juga file JS yang dibutuhkan -->
@@include('../shared/footer.html', {
  "script": [
    "assets/js/app.min.js"
  ]
})
<!-- bagian footer selesai -->